@use './global' as g;

// デザイン・トークンの設定
// 基本的にはここはACFで加工される想定。

:root {

    // 最大横幅
    --root--maxWidth: calc(1440 / 16 * 1rem);
    // 間隔調整
    --root--gap: calc(40 / 16 * 1rem);

    // フォントの重み設定
    --root--fontWeight-tin: 100;
    --root--fontWeight-light: 300;
    --root--fontWeight-regular: 400;
    --root--fontWeight-medium: 500;
    --root--fontWeight-bold: 700;
    --root--fontWeight-black: 900;

    // 字の高さ
    --root--lineHeight: 2.0;


    // アニメーション共通値
    --root--animation: all .5s;

    // `アイコン
    --root--icon-button-normal: url('@/img/icon_button_normal.svg');
    --root--icon-button-download: url('@/img/icon_button_download.svg');
    --root--icon-button-blank: url('@/img/icon_button_blank.svg');
    --root--icon-button-tel: url('@/img/icon_button_tel.svg');
    --root--icon-button-tel-white: url('@/img/icon_button_tel_white.svg');

    // SnowMonkey上書き
    --_color-text: var(--root--color-font);
    --wp--style--global--content-size: var(--root--maxWidth);
    --_margin1: var(--root--gap);
    --_margin2: calc(var(--root--gap) * 2);
    --_margin3: calc(var(--root--gap) * 3);
    --_margin4: calc(var(--root--gap) * 4);
    --_margin5: calc(var(--root--gap) * 5);
    --_margin6: calc(var(--root--gap) * 6);
    --_margin7: calc(var(--root--gap) * 7);

    @include g.mq(sp) {
        // 間隔調整
        --root--gap: calc(20 / 16 * 1rem);
    }
}

// Snow Monkey Blocks
.smb-box {
    --smb-box--border-color: var(--root--color-border);
}