# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files

.cursor
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.Thumbs.db

node_modules
dist
dist-ssr
*.local

# original files

local
ignore
ignore/*
server
server/*
upload.js