@use '../../global' as g;

.c-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: g.rem(30);
    list-style: none;
    margin: 0;
    padding: 0;
    @include g.mq(tab) {
        grid-template-columns: 1fr;
        gap: g.rem(20);
    }

    &__item {
        a {
            @include g.button;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--root--color-primary);
            background-color: var(--root--color-white);
            text-decoration: none;
            gap: g.rem(30);
            height: g.rem(120);
            padding: g.rem(20);
            transition: all 0.3s ease;

            @include g.mq(sp) {
                height: g.rem(80);
            }

            &::before {
                content: '';
                display: block;
                background-image: var(--scope--icon);
                background-repeat: no-repeat;
                background-size: var(--scope--icon-size, contain);
                background-position: center;
                aspect-ratio: 1 / 1;
                line-height: 0;
                width: 100%;
                max-width: g.rem(55);
            }

            &[href^="tel:"] {
                --scope--icon: url("@img/icon_button_tel.svg");
                --scope--icon-size: calc(77.408 / 16 * 1rem);
                @include g.mq(sp) {
                    --scope--icon-size: calc(70.4 / 16 * 1rem);
                }
            }

            &[href$="/contact/"] {
                --scope--icon: url("@img/ico_button_mail.svg");
                --scope--icon-size: calc(81.6 / 16 * 1rem);
                @include g.mq(sp) {
                    --scope--icon-size: calc(81.376 / 16 * 1rem);
                }
            }

            &[href$="/access/"] {
                --scope--icon: url("@img/ico_button_access.svg");
                --scope--icon-size: calc(64.336 / 16 * 1rem);
                @include g.mq(sp) {
                    --scope--icon-size: calc(64.336 / 16 * 1rem);
                }
            }

            &:hover {
                background: #e8f3fd;
                text-decoration: underline;
                box-shadow: 0 0 0 0 var(--root--color-primary),
                            0 0 0 4px var(--root--color-primary) inset,
                            0 0 0 0 var(--root--color-primary);
            }
        }
    }
}