@use '../../global' as g;

// 投稿・固定ページの投稿をラップしている要素群
// コンポーネントだが、ここからの指定は煩雑になるため避ける。

.c-entry {

    &__header {
        margin-bottom: g.rem(34);
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr;
        font-size: g.rem(32);
        line-height: 1.5;
        font-weight: var(--root--fontWeight-bold);
        color: var(--root--color-font);
        @include g.mq(sp) {
            font-size: g.rem(29);
        }
    }

    &__footer {
        display: none !important;
    }

    &__meta {
        margin-top: var(--root--gap);
    }
}