@use '../../global' as g;

// ハンバーガーメニューのトグルボタン

.c-hamburger {
    position: relative;
    height: g.rem(64);
    border: none;
    background: var(--root--color-primary);
    appearance: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    padding: 0;

    &__bar {
        position: absolute;
        display: inline-block;
        width: g.rem(34);
        height: 2px;
        background: #fff;
        transform: translateX(-50%);
        transition: .3s;
        &:first-child {
            top: g.rem(18);
        }
        &:nth-child(2) {
            top: calc(50% - 1px);
        }
        &:last-child {
            bottom: g.rem(18);
        }
        [aria-expanded="true"] & {
            top: 50%;
            &:first-child {
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:last-child {
                transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
        }
    }
}