@use '../../global' as g;

.c-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: g.rem(10);
    font-size: g.rem(14);
    margin: 0;
    padding: 0;
    @include g.mq(sp) {
        justify-content: flex-end;
    }

    > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: g.rem(85);
        transition: all .3s;
        &:hover {
            text-decoration: underline;
            transition: all .3s;
            &::before {
                left: g.rem(6);
                background-position-x: g.rem(3);
            }
        }

        &::before {
            content: '';
            left: 0;
            display: block;
            width: g.rem(10);
            height: g.rem(10);
            // background-image: url('@img/');
            background-repeat: no-repeat;
            background-size: auto 100%;
            transition: all .3s;
        }
    }
}