@use '../../global' as g;

//　プロフィールコンポーネント

.c-profile {

    --scope--border-color: #ccc;

    > * {
        &:nth-child(n+2) {
            margin-top: 0;
        }
        &:last-child {
            border-bottom: 1px solid var(--scope--border-color);
        }
    }

    &__module {
        display: grid;
        grid-template-columns: g.rem(160) g.rem(220) 1fr;
        grid-gap: g.rem(30);
        grid-template-areas:
            'grid-A grid-B grid-C'
        ;
        border-radius: 0;
        width: 100%;
        height: auto;
        border-top: 1px solid var(--scope--border-color);
        padding: g.rem(40);
        * { // margin reset
            margin: 0;
            &:not(:last-child) ,
            &:not(:first-child) {
                margin: 0;
            }
        }
        @include g.mq(sp) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: g.rem(28);
            grid-row-gap: g.rem(20);
            grid-template-areas:
                'grid-A grid-B'
                'grid-C grid-C'
            ;
            padding-inline: 0;
        }
    }

    &__photo {
        grid-area: grid-A;
    }

    // 名前の部分
    &__about {
        grid-area: grid-B;
        display: flex;
        gap: g.rem(10);
        width: 100%;
        flex-direction: column;
        p {
            line-height: 1.5 !important;
            word-break: break-all;
            width: 100%;
        }
        &__item1 {
            font-size: g.rem(12);
            font-weight: var(--root--fontWeight-light);
        }
        &__item2 {
            font-size: g.rem(21);
            font-weight: var(--root--fontWeight-medium);
        }
        &__item3 {
            font-size: g.rem(14);
            font-weight: var(--root--fontWeight-light);
            color: #1462A8;
        }
    }

    &__info {
        grid-area: grid-C;
        width: 100%;
        .smb-information__body {
            display: flex;
            flex-direction: column;
            gap: g.rem(20);
        }
        .smb-information__item {
            overflow: initial;
            &__label {
                font-size: g.rem(14);
            }
            &__body {
                font-size: g.rem(14);
            }
            .c-row__col {
                padding: 0;
            }
        }

        .smb-information__item {
            overflow: initial;
            > .c-row {
                gap: g.rem(20);
                @include g.mq(sp) {
                    gap: g.rem(5);
                }
                > *:first-child {
                    width: 100%;
                    min-width: g.rem(140);
                    line-height: g.rem(28);
                }
                > *:last-child {
                    --_item-width: calc(100% - g.rem(140) - g.rem(20));
                    @include g.mq(sp) {
                        --_item-width: 100%;
                    }
                }
            }
            &__label {
                align-items: center;
                flex-direction: row;
                flex-grow: initial;
                justify-content: space-between;
                font-weight: var(--root--fontWeight-medium);
                color: #0E3157;
                @include g.mq(sp) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                &::after {
                    content: '';
                    display: block;
                    width: g.rem(30);
                    height: 1px;
                    background: #ACD0E8;
                    @include g.mq(sp) {
                        width: g.rem(60);
                    }
                }
            }
        }

    }

}