@use '../../global' as g;

.c-page-top {
    position: fixed;
    width: 100%;
    height: g.rem(60);
    transition: opacity .5s;
    opacity: 0;
    visibility: initial;
    background-color: initial;
    z-index: 8000;
    pointer-events: none;
    left: 50%;
    bottom: 20px !important;
    max-width: var(--root--maxWidth);
    transform: translate(-50%, 0);

    a {
        position: absolute;
        left: auto;
        display: block;
        width: g.rem(60);
        height: g.rem(60);
        color: initial;
        pointer-events: all;
        background: var(--root--color-white);
        border-radius: g.rem(10);
        border: 2px solid var(--root--color-primary);
        overflow: hidden;
        transition: all .3s;
        @include g.mq(sp) {
            right: g.rem(20);
        }

        > svg {
            display: none;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('@img/icon_pagetop.svg');
            background-repeat: no-repeat;
            background-position: top 40% center;
            background-size: g.rem(29) g.rem(14);
            transition: all .3s ease;
        }

        &:hover {
            opacity: 1;

            &::before {
                background-position: top 30% center;
            }
        }
    }

    &:hover {
        filter: none;
    }
}
