@use '../../global' as g;

.p-conversion-unit {
    background-color: var(--root--color-secondary);
    padding: g.rem(40);
    margin-top: g.rem(100);
    display: grid;
    grid-template-columns: calc(50% - g.rem(20)) calc(50% - g.rem(20));
    gap: g.rem(40);
    @include g.mq(tab) {
        padding: g.rem(30) g.rem(20);
        margin-top: g.rem(50);
        grid-template-columns: 1fr;
        gap: g.rem(30);
        margin-inline: calc(-1 * var(--root--gap));
    }

    &__box {
        background-color: var(--root--color-white);
        border-radius: g.rem(20);
        padding: g.rem(60) g.rem(40);

        @include g.mq(sp) {
            padding: g.rem(40) g.rem(20);
        }
    }

    &__name {
        font-size: g.rem(21);
        text-align: center;
        margin-bottom: g.rem(20);
    }

    &__content {
        font-size: g.rem(16);
        text-align: center;
        margin-top: g.rem(20);
    }

    .smb-btn-wrapper {
        margin-inline: auto;
    }

    // p-conversion-unit内のボタンをレスポンシブ対応
    .smb-btn {
        @include g.mq(sp) {
            width: 100%;
        }
    }

}
