@use '../../global' as g;

// contact form 7

.p-contactform {

    &__input {
        order: 1;
    }

    &__box {
        display: grid;
        grid-template-columns: .4fr 1fr;
        align-items: center;
        gap: g.rem(90);
        width: 100%;
        padding: g.rem(40) g.rem(20);
        border-top: 1px solid #ccc;
        @include g.mq(sp) {
            grid-template-columns: 1fr;
            gap: g.rem(10);
            padding: g.rem(30) 0;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        font-size: g.rem(14);
        @include g.mq(sp) {
            width: 100%;
            justify-content: initial;
            gap: g.rem(15);
        }
        &.__required::after {
            content: '必須';
            right: 0;
            font-size: g.rem(12);
            color: var(--root--color-white);
            background: var(--root--color-primary);
            padding: 0 g.rem(9) g.rem(2);
        }
    }

    &__item {
        display: block;
        width: 100%;
        input:not([type=radio],[type=date],[type=checkbox],[type=file]),
        textarea {
            width: 100%;
            max-width: 100%;
            border: 1px solid var(--root--color-primary);
            border-radius: 0;
            background-color: var(--root--color-secondary);
            padding: g.rem(10) g.rem(15);
        }
        textarea {
            resize: none;
            scrollbar-width: none;
        }
        input[type=radio] {
            display: none;
            & + span {
                display: flex;
                align-items: center;
                gap: g.rem(10);
                &::before {
                    content: "";
                    display: block;
                    background-size: contain;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='%23fff' stroke='%230e3157' data-name='楕円形 158'%3E%3Ccircle cx='8' cy='8' r='8' stroke='none'/%3E%3Ccircle cx='8' cy='8' r='7.5' fill='none'/%3E%3C/g%3E%3C/svg%3E");
                    width: g.rem(16);
                    height: g.rem(16);
                }
            }
            &:checked+span::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='グループ 3243' transform='translate(-548 -562)'%3E%3Cg fill='%23fff' stroke='%230e3157' data-name='楕円形 157' transform='translate(548 562)'%3E%3Ccircle cx='8' cy='8' r='8' stroke='none'/%3E%3Ccircle cx='8' cy='8' r='7.5' fill='none'/%3E%3C/g%3E%3Ccircle cx='3' cy='3' r='3' fill='%230e3157' data-name='楕円形 159' transform='translate(553 567)'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
        // 日付入力のスタイル
        input[type=date] {
            border: 1px solid var(--root--color-primary);
            border-radius: 0;
            background-color: var(--root--color-secondary);
            line-height: g.rem(24);
            padding: g.rem(8) g.rem(15);
        }
        select {
            border: 1px solid var(--root--color-primary);
            border-radius: 0;
            background-color: var(--root--color-secondary);
            line-height: g.rem(26);
            padding: g.rem(11) g.rem(15);
        }
        .wpcf7-not-valid-tip {
            color: #BE0000;
        }
    }

    &__note {
        font-size: g.rem(14);
        margin-block: 0 g.rem(20);
    }

    &__date {
        display: flex;
        flex-direction: column;
        gap: g.rem(20);
    }

    &__submit {
        order: 3;
        display: block;
        text-align: center;
        > div {
            &:nth-child(n+2) {
                margin-top: g.rem(20);
            }
        }

        input[type=submit] {
            width: g.rem(280);
            margin: 0 auto;
            @include g.mq(sp) {
                width: 100%;
            }
        }

        .wpcf7-spinner {
            margin-top: g.rem(20);
        }
    }
}