@use '../../global' as g;

.p-footer-about {
    display: grid;
    grid-template-columns: g.rem(500) 1fr;
    align-items: flex-end;
    gap: g.rem(20);
    max-width: var(--root--maxWidth);
    margin-block: g.rem(10) 0;
    margin-inline: auto;
    z-index: initial;
    @include g.mq(tab) {
        grid-template-columns: 1fr;
        align-items: flex-start;
        gap: g.rem(20);
        margin: 0;
    }
}