@use '../../global' as g;

.p-footer-info {
    width: 100%;

    &__logo {
        width: 100%;
        @include g.mq(sp) {
            max-width: initial;
        }
    }

    &__text {
        font-size: g.rem(16);
        font-weight: var(--root--fontWeight-regular);

    }

    &__tel {
        margin-block: g.rem(9);

        a {
            font-size: g.rem(32);
            font-weight: var(--root--fontWeight-bold);
            &:before {
                content: 'TEL';
                margin-right: g.rem(5);
                @include g.mq(sp) {
                    content: none;
                }
            }

            @include g.mq(sp) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-height: g.rem(60);
                font-size: g.rem(24);
                color: var(--root--color-white);
                background-color: var(--root--color-primary);
                text-decoration: none;
                border-radius: g.rem(1000);
                padding: g.rem(12) g.rem(30);

                &:before {
                    content: '';
                    display: block;
                    width: g.rem(36);
                    height: g.rem(36);
                    background-image: url('@/img/icon_button_tel_white.svg');
                    background-size: g.rem(32) g.rem(36);
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: g.rem(30);
                }
            }
        }
    }

    &__address {
        margin-block: g.rem(20) 0;

        @include g.mq(pc) {
            display: flex;
            align-items: center;
            gap: g.rem(20);
        }

        p {
            font-size: g.rem(17);
        }

        a[href*="access"] {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: g.rem(60);
            font-size: g.rem(16);
            font-weight: var(--root--fontWeight-bold);
            color: var(--root--color-white);
            background-color: var(--root--color-primary);
            text-decoration: none;
            border-radius: g.rem(1000);
            padding: g.rem(12) g.rem(30);
            margin-top: g.rem(9);
            @include g.mq(pc) {
                width: auto;
                min-height: auto;
                font-size: g.rem(14);
                font-weight: var(--root--fontWeight-medium);
                padding: 0 g.rem(30);
                margin: 0;
            }

            &:after {
                position: absolute;
                content: '';
                display: block;
                flex-shrink: 0;
                inset: 0;
                width: g.rem(36);
                height: g.rem(36);
                background-image: url('@/img/icon_button_normal.svg');
                background-size: g.rem(15) g.rem(15);
                background-repeat: no-repeat;
                background-position: center;
                margin-block: auto;
                margin-inline: auto g.rem(20);
                @include g.mq(pc) {
                    width: g.rem(19);
                    height: g.rem(19);
                    background-size: g.rem(8) g.rem(8);
                    margin-inline: auto g.rem(8);
                }
            }
        }
    }

}