@use '../../global' as g;

.p-footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    gap: g.rem(22);

    &__top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: g.rem(32);
        list-style: none;
        font-size: g.rem(16);
        font-weight: var(--root--fontWeight-medium);
        padding: 0;
        margin: 0;
        @include g.mq(sp) {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid #d9d9d9;
            gap: g.rem(15) g.rem(32);
            padding-top: g.rem(20);
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: g.rem(22);
        list-style: none;
        font-size: g.rem(14);
        font-weight: var(--root--fontWeight-regular);
        padding: 0;
        margin: 0;
        @include g.mq(sp) {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            border-top: 1px solid #d9d9d9;
            gap: g.rem(15) g.rem(32);
            padding-top: g.rem(20);
        }

    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}