@use '../../global' as g;

.p-footer-contact {
    position: relative;
    width: 100%;
    max-width: var(--root--maxWidth);
    margin-inline: auto;
    z-index: initial;
    .c-heading {
        text-align: center;
        font-size: g.rem(24);
        font-weight: var(--root--fontWeight-medium);
        margin-bottom: g.rem(48);
        @include g.mq(sp) {
            margin-bottom: g.rem(20);
        }
    }
}