@use '../../global' as g;

.p-module-flow {
    background-color: var(--root--color-secondary);
    padding: 20px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: g.rem(32);
        background-color: var(--root--color-white);
        border-radius: g.rem(20);
        padding: g.rem(23) g.rem(60);

        @include g.mq(sp) {
            gap: g.rem(14);
            padding: g.rem(20) g.rem(14);
        }

        &:nth-child(n+2) {
            margin-top: g.rem(20);
        }

        &::after {
            content: '↓';
            position: absolute;
            font-size: g.rem(20);
            font-weight: var(--root--fontWeight-black);
            color: var(--root--color-primary);
            inset: auto 0 -15px 125px;
            @include g.mq(sp) {
                inset: auto 0 -15px calc( g.rem(60) / 2 + g.rem(5) );
            }
        }

        &:last-child {
            &::after {
                content: none;
            }
        }

    }

    &__time {
        position: relative;
        width: g.rem(150);
        font-size: g.rem(20);
        font-weight: var(--root--fontWeight-black);
        color: var(--root--color-primary);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        gap: g.rem(10);

        @include g.mq(sp) {
            width: g.rem(60);
            flex-direction: column;
            gap: 0;

            &::before {
                width: g.rem(20);
                height: 1px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-dash {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            @include g.mq(sp) {
                transform: rotate(90deg);
                line-height: 0.5;
                margin-left: g.rem(7);
            }
        }
    }

    &__content {
        flex: 1;
        color: #333;
    }
}