@use '../../global' as g;

.p-nav-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-inline: 1px solid #eee;
    padding: 0;
    margin: 0;
    @include g.mq(sp) {
        display: flex;
        justify-content: flex-end;
        border-inline: 0;
        border-block: 1px solid #eee;
        width: 100%;
    }

    &__item {
        &:nth-child(n+2) {
            border-left: 1px solid #eee;
        }
        @include g.mq(sp) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            border: 0;
            transition: all .2s;
            [data-is-hidden="true"] > & {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        > * {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 100%;
            transition: all .3s;
            padding: g.rem(8);
            @include g.mq(sp) {
                flex-direction: row;
                gap: g.rem(15);
                padding: g.rem(10);
            }
            &::before {
                content: '';
                display: block;
                width: g.rem(32);
                height: g.rem(32);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:hover {
                background: #ecf7ff;
            }
        }
        &__tel::before {
            // background-image: url(@/img/ico_tel.svg);
        }
        &__access::before {
            // background-image: url(@/img/ico_access.svg);
        }
    }
}