@use '../../global' as g;

.p-nav {

    --scope--nav-color-border: #dcdcdc;

    &__wrap {
        width: 100%;

        @include g.mq(pc) {
            flex: 1;
        }
    }


    // メニューアイテム

    .menu-item > a {
        position: relative;
        display: flex;
        align-items: center;
        gap: g.rem(20);
        font-size: g.rem(20);
        font-weight: var(--root--fontWeight-medium);
        color: var(--root--color-black);
        grid-area: link;
        width: 100%;
        height: 100%;
        min-height: g.rem(60);
        text-decoration: none;
        word-break: break-all;
        padding: g.rem(10) g.rem(20);
        z-index: +1;
        @include g.mq(tab) {
            align-items: center;
            justify-content: flex-start;
            padding-inline: g.rem(30) g.rem(23);
        }

        &:before {
            content: '';
            display: block;
            flex-shrink: 0;
            background-color: var(--root--color-primary);
            mask-image: url('@/img/icon_arrow.svg');
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            width: g.rem(7);
            height: g.rem(12);
            @include g.mq(pc) {
                content: none;
            }
        }
    }



    // 親メニュー指定

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0;

        @include g.mq(tab) {
            flex-direction: column;
            justify-content: flex-start;
        }

        > .menu-item {
            @include g.mq(tab) {
                display: grid;
                grid-template-columns: 1fr g.rem(64);
                grid-template-rows: auto;
                grid-template-areas:
                    'link button'
                    'child child';
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                transition: grid-template-rows .3s ease;
                border-top: 1px solid var(--scope--nav-color-border);
                overflow-y: hidden;

                &[data-is-active="true"] {
                    grid-template-rows: g.rem(60) 1fr;
                }

                &:last-child {
                    border-bottom: 1px solid var(--scope--nav-color-border);
                }
            }


            // 親リンクの装飾

            > a {
                @include g.mq(pc) {
                    padding: g.rem(12) g.rem(20);
                }

                &:hover {
                    background-color: var(--root--color-secondary);
                    opacity: 1;
                    @include g.mq(tab) {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    // ボタン要素
    button.children-expander {
        display: none;

        @include g.mq(tab) {
            position: relative;
            display: flex;
            grid-area: button;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            transform: initial;
            width: 100%;
            height: 100%;
            border: 0;
            text-indent: -9999px;
            z-index: +1;

            &::before {
                position: absolute;
                inset: 0;
                content: '';
                display: block;
                width: 1px;
                height: 75%;
                background-color: var(--scope--nav-color-border);
                margin-block: auto;
                margin-inline: 0;
            }
        }

        &[data-is-expanded=true] {
            transform: initial;
        }

        >span {
            &::before {
                position: relative;
                top: 1px;
                border-color: var(--root--color-primary);
                border-style: solid;
                border-width: 2px 0 0 0;
                width: 16px;
                height: 0;
                transform: none;
            }

            &::after {
                content: "";
                position: relative;
                top: -1px;
                display: block;
                border-color: var(--root--color-primary);
                border-style: solid;
                border-width: 2px 0 0 0;
                width: 16px;
                height: 0;
                transform: rotate(90deg);
                transition: transform 0.2s;
            }
        }

        &[data-is-expanded="true"] {
            right: initial;
            transform: none;

            >span {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }


    // 子要素
    .sub-menu {
        list-style: none;
        transition: max-height 0.5s;

        @include g.mq(pc) {
            position: absolute;
            inset: 0 0 auto 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: all .3s;
            opacity: 0;
            visibility: hidden;
            background-color: var(--root--color-secondary);
            z-index: -2;
            padding: g.rem(37) var(--root--gap);
        }

        @include g.mq(tab) {
            display: none;
            grid-area: child;
            background-color: var(--root--color-secondary);
            z-index: initial;
            padding: 0;
        }


        // アイテムの部分
        > .menu-item {
            a {
                padding-inline: g.rem(20);
                gap: g.rem(8);

                @include g.mq(pc) {
                    border-bottom: 1px solid transparent;

                    &:hover {
                        background: #fff;
                        border-bottom: 1px solid var(--root--color-primary);
                        &::before {
                            transform: translateX(g.rem(3));
                        }
                    }
                }

                @include g.mq(tab) {
                    gap: g.rem(20);
                    padding-inline: g.rem(50) g.rem(20);
                }
            }
            @include g.mq(tab) {
                border-top: 1px solid #d1daf3;
            }
        }

        &[data-is-hidden='false'] {
            top: 100%;
            opacity: 1;
            visibility: initial;

            @include g.mq(tab) {
                top: initial;
            }
        }


    }

    // ナビゲーション内コンタクト
    &__contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-inline: 1px solid #eee;
        padding: 0;
        margin: 0;
    }
}