@use '../../global' as g;

// メッセージブロック

.p-recruit__message {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: g.rem(19) g.rem(80);
    margin-bottom: g.rem(60) !important;

    @include g.mq(sp) {
        margin-bottom: g.rem(50) !important;
    }

    // 左カラムの要素を縦に並べる
    &--title {
        grid-column: 1;
        grid-row: 1;
        align-self: start;
    }

    &--text {
        grid-column: 1;
        grid-row: 2;
        align-self: start;
    }

    // 右カラムに写真を配置
    &--image {
        grid-column: 2;
        grid-row: 1 / 3;
        height: 100%;
        align-self: start;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: g.rem(20);
            overflow: hidden;
        }
    }

    // スマートフォンレイアウト（1024px以下）
    @include g.mq(sp) {
        display: flex;
        flex-direction: column;
        gap: g.rem(20);
    }

    // 共通のスタイル
    &--title {
        font-size: g.rem(28);
        font-weight: var(--root--fontWeight-medium);
        color: var(--root--color-primary);
    }

    &--text {
        font-size: g.rem(16);
    }

    &--image {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &--link {
        display: block;
        margin-top: g.rem(40);

        @include g.mq(sp) {
            margin-top: g.rem(20);
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}


// 職場環境ブロック

.p-recruit__environment {
    // background-image: url('~/img/img_recruit_enviroment_back_pc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: g.rem(60) var(--root--gap);
    background-color: var(--root--color-secondary);

    @include g.mq(sp) {
        // background-image: url('~/img/img_recruit_enviroment_back_sp.png');
        padding: g.rem(40) var(--root--gap) g.rem(60);
    }

    &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: g.rem(28);
        color: var(--root--color-primary);
        margin-bottom: g.rem(60);

        @include g.mq(sp) {
            margin-bottom: g.rem(40);
        }

        span {
            border-bottom: 2px solid var(--root--color-primary);
            padding-bottom: g.rem(10);
        }
    }

    &--content {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: g.rem(40);
        padding: 0;
        margin: 0;
        max-width: calc(g.rem(300) * 3 + g.rem(80));
        margin-inline: auto;

        @include g.mq(sp) {
            grid-template-columns: 1fr;
            gap: g.rem(30);
            padding-inline: var(--root--gap);
        }
    }

    &--item {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        transition: all 0.3s ease;

        @include g.mq(sp) {
            aspect-ratio: initial;
            width: 100%;
        }
    }

    &--image {
        width: 100%;
        height: 100%;
        display: block;

        img {
            width: auto;
            height: 100%;
            object-fit: cover;
            @include g.mq(sp) {
                width: 100%;
                height: auto;
            }
        }
    }

    // smb-buttonsのスタイル
    .smb-buttons {
        margin-top: g.rem(60);

        @include g.mq(sp) {
            margin-top: g.rem(40);
        }
    }
    .smb-btn__label {
        @include g.mq(sp) {
            text-align: left;
        }
    }
}
