@use '../../global' as g;

.p-top-info {
    padding-block: g.rem(60);
    margin-block: 0;
    @include g.mq(sp) {
        padding-block-start: g.rem(40);
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr;
        gap: g.rem(26);
        @include g.mq(sp) {
            gap: g.rem(19);
        }
    }

    &__title-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        margin-top: g.rem(40);
    }
}
