@use '../../global' as g;

.p-top-info {
    padding-block: 6.0rem;
    margin-block: 0;
    @include g.mq(sp) {
        padding-block-start: 4.0rem;
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.6rem;
        @include g.mq(sp) {
            gap: 1.9rem;
        }
    }

    &__title-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        margin-top: 4.0rem;
    }
}
