@use '../../global' as g;

.p-top-recruit {
    padding: g.rem(60) var(--root--gap);
    background-color: #f3f3f3;

    @include g.mq(sp) {
        padding: g.rem(40) 0;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: g.rem(40);
        padding: 0;
        margin: g.rem(60) auto 0;

        @include g.mq(tab) {
            gap: g.rem(20);
            max-width: initial;
            margin-block: g.rem(40) 0;
        }

        @include g.mq(sp) {
            padding-inline: var(--root--gap);
        }
    }

    &__item {
        position: relative;
        width: calc((100% - g.rem(80)) / 3);
        height: 100%; // safariのバグ対策
        overflow: hidden;
        transition: all 0.3s ease;
        margin: 0;

        @include g.mq(tab) {
            width: 100%;
        }

        a {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: g.rem(300) 1fr;
            min-height: g.rem(550);
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: var(--root--color-black);
            background-color: var(--root--color-white);
            border-radius: g.rem(15);
            overflow: hidden;
            box-sizing: border-box;

            @include g.mq(tab) {
                grid-template-rows: minmax(0, 55%) 1fr;
                min-height: initial;
            }

            &:before {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                border: 1px solid var(--root--color-primary);
                border-radius: g.rem(15);
                pointer-events: none;
                z-index: 10;
                transition: all .3s linear;
                opacity: 0;
            }


            @include g.mq(pc) {
                &:hover {
                    &:before {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }
            }

        }

        figure {
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                object-fit: cover;
                transition: all .3s ease;
                width: 100%;
                height: 100%;
            }
        }

        h3 {
            font-size: g.rem(18);
            font-weight: var(--root--fontWeight-medium);
            line-height: 1.5;
            margin-bottom: g.rem(14);
        }

        p {
            font-size: g.rem(15);
            font-weight: var(--root--fontWeight-regular);
            color: var(--root--color-font);
            line-height: 1.5;
            text-align: left;
            @include g.text-clamp(3);
            overflow: hidden;
            margin-bottom: g.rem(20);

            @include g.mq(sp) {
                text-align: left;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: g.rem(20) g.rem(30);
        box-sizing: border-box;

        .smb-btn {
            width: 100%;
            max-width: g.rem(35);
            min-width: 100%;
            margin-top: auto;
            @include g.mq(sp) {
                margin-top: g.rem(20);
            }

            &__label {
                padding-inline: g.rem(14.25);
            }
        }
    }
}
