@use '../../global' as g;

.p-top-accept {
    margin-block: g.rem(60) !important;

    .p-top-heading__title {
        margin-bottom: g.rem(60);

        @include g.mq(sp) {
            margin-bottom: g.rem(40);
        }
    }
}