@use '../../global' as g;

.p-top-navi {
    background-color: var(--root--color-accent);
    padding: var(--root--gap);

    &__list {
        list-style: none;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(g.rem(165), 1fr));
        gap: g.rem(40);
        padding: 0;
        margin: 0;
        @include g.mq(sp) {
            gap: g.rem(20);
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, g.rem(280));
        }
    }

    &__item {
        text-align: center;
        height: 100%;
        width: 100%;
        display: grid;
    }

    &__link {
        display: grid;
        align-items: center;
        grid-template-rows: 1fr g.rem(36);
        gap: g.rem(9);
        text-decoration: none;
        border-radius: g.rem(30);
        background: #fff;
        padding: g.rem(36);
        transition: all 0.3s ease-in-out;
        height: 100%;
        width: 100%;
        border: 1px solid transparent;

        @include g.mq(sp) {
            border-radius: g.rem(25);
            grid-template-rows: 1fr g.rem(32);
            gap: 0;
            padding: g.rem(20);
        }

        span {
            display: inline-block;
            position: relative;
            width: fit-content;
            margin: 0 auto;

            &::after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                border-bottom: 1px solid var(--root--color-black);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                bottom: 4px;
            }
        }

        &:hover {
            background-color: var(--root--color-secondary);
            opacity: 1;
            border-color: var(--root--color-primary);
            span::after {
                opacity: 1;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        [data-icon="01"] {
            max-width: 110px;
            @include g.mq(sp) {
                max-width: 73px;
            }
        }
        [data-icon="02"] {
            max-width: 65px;
            @include g.mq(sp) {
                max-width: 43px;
            }
        }
        [data-icon="03"] {
            max-width: 124px;
            @include g.mq(sp) {
                max-width: 82px;
            }
        }
        [data-icon="04"] {
            max-width: 107px;
            @include g.mq(sp) {
                max-width: 72px;
            }
        }
        [data-icon="05"] {
            max-width: 185.91px;
        }
        [data-icon="06"] {
            max-width: 100.00px;
        }

    }

    &__text {
        font-size: g.rem(24);
        color: var(--root--color-black);
        @include g.mq(sp) {
            font-size: g.rem(21);
        }
    }
}