@use '../../global' as g;

// トップページの見出しタグ
// 色指定はp-top側で行う

body .p-top-heading {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: g.rem(28);
        color: var(--root--color-black);
        background-color: initial;
        border: 0;
        padding: 0;
        margin: 0;

        span {
            border-bottom: 4px solid var(--root--color-primary);
            padding-bottom: g.rem(10);
        }
    }
}