@use '../../global' as g;

.smb-child-pages {

    .c-entries--text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: g.rem(20);
        border: 0;

        @include g.mq(tab) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include g.mq(sp) {
            grid-template-columns: repeat(1, 1fr);
        }

        .c-entries__item {
            width: 100%;
            border: 0;

            > a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: g.rem(10);
                color: var(--root--color-white);
                background-color: var(--root--color-primary);
                border-radius: g.rem(1000);
                padding: g.rem(18) g.rem(30);

                &:hover {
                    opacity: .77 !important;
                    text-decoration: none !important;
                }

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    position: relative;
                    display: block;
                    flex-shrink: 0;
                    width: g.rem(15);
                    height: g.rem(15);
                    background-image: var(--root--icon-button-normal);
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-left: auto;
                }
            }
        }
        .c-entry-summary__title {
            font-size: g.rem(18);
            font-weight: var(--root--fontWeight-bold);
        }
    }
}