@use '../../global' as g;

.smb-contents-outline {

    --scope--outline-color: var(--root--color-primary);

    background: var(--root--color-secondary);
    padding: g.rem(20) !important;

    .wpco {
        padding: 0;
    }

    .wpco__title {
        font-size: g.rem(16);
        line-height: 1.125;
        color: var(--root--color-font);
        padding: 0;
        margin-bottom: g.rem(14);
    }

    .contents-outline {
        ul,ol,li:not(:first-child) {
            border-top-color: var(--root--color-primary);
        }
        a {
            align-items: flex-start;
            padding-block: g.rem(11);
            gap: g.rem(8);
        }
        a::before {
            background-color: var(--root--color-primary);
            font-size: g.rem(14);
            font-weight: var(--root--fontWeight-regular);
            color: #fff;
            flex-shrink: 0;
            width: g.rem(24);
            height: g.rem(24);
            margin: 0;
        }
        li {
            line-height: g.rem(24);
            li {
                > a {
                    padding-left: g.rem(24);
                }
                li {
                    > a {
                        padding-left: g.rem(48);
                    }
                }
            }
        }
    }


  // .contents-outline {
  //   ol {
  //     list-style: none;
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 10px 20px;
  //     border-top: initial;
  //     padding: 0;
  //     > li {
  //       position: relative;
  //       border-top: initial !important;
  //       padding-left: 14px;
  //       &::before {
  //         position: absolute;
  //         content: '';
  //         display: block;
  //         width: 9.87px;
  //         height: 4.94px;
  //         top: 11px;
  //         left: 0;
  //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.58' height='5.998'%3E%3Cpath fill='none' stroke='%230e3157' d='m.354.354 4.937 4.938L10.227.354' data-name='パス 11060'/%3E%3C/svg%3E");
  //         background-repeat: no-repeat;
  //         background-size: contain;
  //         background-position: center;
  //         transition: all .3s;
  //       }
  //       + li {
  //         margin-top: 0;
  //       }
  //       > a {
  //         text-decoration: none;
  //         display: block;
  //         border-bottom: 1px solid var(--root--color-font);
  //         padding: 0 3px;
  //         &:before {
  //           content: none;
  //         }
  //       }
  //       &:hover {
  //         &::before {
  //           top: 16px;
  //         }
  //         > a {
  //           background: #D1EAFB;
  //         }
  //       }
  //     }
  //   }
  // }
}
