@use '../../global' as g;

.smb-media-text {

    &__title {
        font-size: g.rem(24);
        font-weight: var(--root--fontWeight-medium);
        color: var(--root--color-primary);
        line-height: 1.5;
    }


    // ボタンにmarginを追加
    .smb-buttons {
        margin-block: g.rem(35) g.rem(17.5);
        @include g.mq(sp) {
            margin-block: g.rem(15) g.rem(5);
        }
    }
}