@use '../../global' as g;

.smb-tabs {
    position: relative;
    margin: var(--_margin1) 0 0;
    padding-top: 49px;

    // 水平方向の場合のみ設計
    &[data-orientation="horizontal"] {

        .smb-tabs__tabs {
            gap: 0;
            width: 100%;
            z-index: 1;
        }
        .smb-tabs__tab {
            background-color: var(--root--color-secondary);
            border: 0;
            border-radius: 0 !important;
            font-weight: var(--root--fontWeight-medium);
            outline: 0;
            padding: g.rem(13) g.rem(45) !important;
            @include g.mq(sp) {
                padding: g.rem(13) g.rem(30) !important;
            }

            &[aria-selected="true"] {
                background-color: #fff;
                border-top: 1px solid var(--root--color-primary);
                border-left: 1px solid var(--root--color-primary);
                border-right: 1px solid var(--root--color-primary);
                padding: g.rem(13) g.rem(44) g.rem(15) !important;
                @include g.mq(sp) {
                    padding: g.rem(13) g.rem(29) g.rem(15) !important;
                }
            }

            &[aria-selected="false"] {
                opacity: 1;
                margin-bottom: 1px;
                &:hover {
                    background-color: var(--root--color-tertiary);
                }
            }
        }
    }

    &__body {
        border: 0;
    }
}

.smb-tab-panel {
    border: 1px solid var(--root--color-primary);
    padding: g.rem(30);
}