@use '../../global' as g;
@use 'sass:map';

// アイコン設定をマップで管理
$button-icons: (
    'default': ('icon': var(--root--icon-button-normal), 'size': g.rem(15) g.rem(15)),
    'download': ('icon': var(--root--icon-button-download), 'size': g.rem(18.25) g.rem(16.85)),
    'blank': ('icon': var(--root--icon-button-blank), 'size': g.rem(22.66) g.rem(17.4)),
    'telPC': ('icon': var(--root--icon-button-tel), 'size': g.rem(32) g.rem(36)),
    'telSP': ('icon': var(--root--icon-button-tel-white), 'size': g.rem(23) g.rem(23))
);

// アイコン設定のみを返すmixin
@mixin get-button-icon($type: 'default') {
    $config: map.get($button-icons, $type);
    background-image: map.get($config, 'icon');
    background-size: map.get($config, 'size');
}

.smb-buttons {
    gap: g.rem(23) g.rem(33);
}

.smb-btn {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--root--color-white);
    background: var(--root--color-primary);
    font-size: g.rem(16);
    text-align: center;
    white-space: wrap;
    line-height: 1.5;
    min-width: g.rem(300);
    height: g.rem(60);
    border: 0;
    border-radius: g.rem(1000);
    padding: 0;

    // 文字の部分(左詰め・中央配置)
    &__label {
        font-weight: var(--root--fontWeight-bold);
        padding-block: g.rem(14.25);
        padding-inline: g.rem(60);
        margin-inline: 0;
        @include g.mq(sp) {
            padding-inline: g.rem(34);
        }
    }

    // アイコン基本設定(中央配置)
    &::before {
        position: absolute;
        content: '';
        display: block;
        flex-shrink: 0;
        inset: 0;
        width: g.rem(36);
        height: g.rem(36);
        grid-area: icon;
        background-position: center center;
        background-repeat: no-repeat;
        margin-block: auto;
        margin-inline: auto g.rem(20);
        // デフォルトアイコン設定
        @include get-button-icon();

        @include g.mq(sp) {
            width: g.rem(28);
            height: g.rem(28);
            margin-inline: auto g.rem(15);
        }
    }

    // ダウンロード系ファイルの場合
    &[href$='.xlsx'],
    &[href$='.png'],
    &[href$='.jpeg'],
    &[href$='.jpg'],
    &[href$='.gif'],
    &[href$='.pdf'] {
        &::before {
            @include get-button-icon('download');
            margin-block: auto;
        }
    }

    // 別窓の場合
    &[target='_blank'] {
        &::before {
            @include get-button-icon('blank');
            margin-block: auto;
        }
    }

    // 電話番号の時
    &[href*="tel:"] {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: g.rem(24);
        font-weight: var(--root--fontWeight-bold);
        line-height: 1;
        text-decoration: none;
        color: var(--root--color-white);
        background: var(--root--color-primary);
        padding: g.rem(12) g.rem(20);
        border-radius: g.rem(1000);
        width: 100%;
        text-align: center;

        @include g.mq(pc) {
            display: inline-flex;
            background: none;
            width: auto;
            min-width: initial;
            color: var(--root--color-primary);
        }

        &:before {
            position: relative;
            inset: auto;
            flex-shrink: 0;
            content: '';
            display: block;
            width: g.rem(36);
            height: g.rem(36);
            background-image: url('@/img/icon_button_tel_white.svg');
            background-size: g.rem(36) g.rem(36);
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 g.rem(26) 0 0;

            @include g.mq(pc) {
                background-image: url('@/img/icon_button_tel.svg');
                margin: 0 g.rem(8) 0 0;
            }

        }
        .smb-btn__label {
            padding: 0;
        }
    }

    &-wrapper {
        @include g.mq(sp) {
            width: 100%;
        }
    }

    &:hover {
        opacity: 0.77;
    }

    // ホーム判定の時に最小値変更
    [data-home-page-container="true"] & {
        @include g.mq(pc) {
            min-width: g.rem(350);
        }
    }
}


// ホバー時のフィルターを解除
@media (hover: hover) and (pointer:fine) {
    .smb-btn {
        &:active ,
        &:focus ,
        &:hover {
            filter: none;
        }
    }
}