@use '../../global' as g;


.tmg-banner {
    background-color: #fff;
    padding-block: calc(var(--root--gap) * 2);
    padding-inline: calc(var(--root--gap));

    @include g.mq(sp) {
        padding: calc(var(--root--gap));
    }

    &__inner {
        max-width: g.rem(1040);
        padding-inline: g.rem(30);
        margin-inline: auto;
        @include g.mq(sp) {
            padding-inline: g.rem(30);
        }
    }

    .splide__track {
        max-height: g.rem(68);
        @include g.mq(sp) {
            max-height: g.rem(68);
        }
    }

    .splide__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: g.rem(68);
        @include g.mq(sp) {
            max-height: g.rem(68);
        }
        a, img {
            height: 100%;
            width: auto;
        }
    }

    .splide__arrow {
        background: #595959;
        opacity: 1;
        border-radius: 3px;
        width: g.rem(20);
        height: 100%;

        &::before {
            content: '';
            display: block;
            width: g.rem(10);
            height: g.rem(10);
            border-style: solid;
            border-color: #fff;
            transform: rotate(45deg);
        }

        &--prev {
            left: -30px;
            &::before {
                border-width: 0 0 1px 1px;
                margin-left: g.rem(5);
            }
        }

        &--next {
            right: -30px;
            &::before {
                border-width: 1px 1px 0 0;
                margin-right: g.rem(5);
            }
        }
    }

    ul {
        a {
            border: 0;
        }
    }
}