@use '../../global' as g;

.tmg-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: g.rem(24);
    font-weight: var(--root--fontWeight-bold);
    line-height: 1;
    text-decoration: none;
    color: var(--root--color-white);
    background: var(--root--color-primary);
    padding: g.rem(12) g.rem(20);
    border-radius: g.rem(1000);
    width: 100%;
    text-align: center;

    @include g.mq(pc) {
        display: inline-flex;
        background: none;
        width: auto;
        color: var(--root--color-primary);
    }

    &:before {
        flex-shrink: 0;
        content: '';
        display: block;
        width: g.rem(36);
        height: g.rem(36);
        background-image: url('@/img/icon_button_tel_white.svg');
        background-size: g.rem(36) g.rem(36);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: g.rem(26);

        @include g.mq(pc) {
            background-image: url('@/img/icon_button_tel.svg');
            margin-right: g.rem(8);
        }
    }

}