@use '../../global' as g;

.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table {
    > table {
        tr {
            td {
                border-color: var(--root--color-primary);
                line-height: 1.5;
                padding: g.rem(16) g.rem(14);
                @include g.mq(sp) {
                    padding: g.rem(15) g.rem(20);
                }
            }
            th {
                background: var(--root--color-secondary);
                border-color: var(--root--color-primary);
                line-height: 1.5;
                padding: g.rem(16) g.rem(14);
                @include g.mq(sp) {
                    padding: g.rem(15) g.rem(20);
                }
            }
        }
    }
    @include g.mq(sp) {
        &.is-scroll-on-mobile {
            >table {
                white-space: nowrap;
                table-layout: initial !important;
            }
        }
        img {
            max-width: initial !important;
        }
    }

    .is-stacked-on-mobile {
        @include g.mq(tab) {
            border-top: 1px solid var(--root--color-primary);
            th {
                border-top: none;
            }
            td {
                border-top: none;
            }
        }
    }
}