@use '../../global' as g;


// グループ化した要素を「グリッド」にしたときのスタイル

.wp-block-group.is-layout-grid {
    background-color: var(--root--color-white);
    gap: g.rem(120);

    @include g.mq(sp) {
        gap: g.rem(88);
    }

    > * {
        position: relative;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
        padding: g.rem(40);
        overflow: initial;

        @include g.mq(sp) {
            padding: g.rem(20);
        }

        &:not(:last-child)::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto auto g.rem(-94);
            width: g.rem(74);
            aspect-ratio: 1 / 1;
            background-image: url(../img/icon_flow_arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include g.mq(sp) {
                width: g.rem(48);
                margin: auto auto g.rem(-68);
            }
        }
    }
}