@use '../../global' as g;


// グループ化した要素を「グリッド」にしたときのスタイル

.wp-block-group.is-layout-grid {
    background-color: var(--root--color-white);
    gap: 12.0rem;

    @include g.mq(sp) {
        gap: 8.8rem;
    }

    > * {
        position: relative;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
        padding: 4.0rem;
        overflow: initial;

        @include g.mq(sp) {
            padding: 2.0rem;
        }

        &:not(:last-child)::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto auto -9.4rem;
            width: 7.4rem;
            aspect-ratio: 1 / 1;
            background-image: url(../img/icon_flow_arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include g.mq(sp) {
                width: 4.8rem;
                margin: auto auto -6.8rem;
            }
        }
    }
}