@use '../../global' as g;
@use 'sass:math';

// 見出しブロック

@mixin setup {
    border: 0;
    background: none;
    color: var(--root--color-font);
    font-weight: var(--root--fontWeight-bold);
    line-height: 1.5;
    padding: 0;
}

h2.wp-block-heading {
    @include setup;
    display: flex;
    align-items: stretch;
    gap: 10px;
    @include g.fluid-prop(font-size, 24, 26);

    &:before {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 4px;
        background-color: var(--root--color-primary);
    }
}

h3.wp-block-heading {
    @include setup;
    font-size: g.rem(21);
    border-bottom: 1px solid var(--root--color-primary);
    padding-bottom: g.rem(12);
}

h4.wp-block-heading {
    @include setup;
    font-size: g.rem(18);
}