@use '../../global' as g;

// Contact form 7

.wpcf7 {
    &-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: g.rem(10);
        cursor: pointer;
        color: #fff;
        font-size: g.rem(21);
        background: var(--root--color-primary);
        border-radius: g.rem(10);
        overflow: hidden;
        padding: g.rem(18) g.rem(50);

        @include g.mq(sp) {
            font-size: g.rem(18);
            width: 100%;
        }
    }

    form {
        .wpcf7-response-output {
            order: 2;
        }

        &.sent {
            .wpcf7-response-output {
                border: 0;
                color: #46b450;
                font-size: g.rem(16);
                font-weight: var(--root--fontWeight-bold);
                text-align: center;
                padding: 0;
                margin: g.rem(30) 0;

                @include g.mq(sp) {
                    text-align: left;
                    margin: 0;
                }
            }
        }

        &.invalid {
            .wpcf7-response-output {
                border: 0;
                color: #BE0000;
                font-size: g.rem(16);
                font-weight: var(--root--fontWeight-bold);
                text-align: center;
                padding: 0;
                margin: g.rem(30) 0;

                @include g.mq(sp) {
                    text-align: left;
                    margin: 0;
                }
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
    }
}