@use '../../global' as g;

// Simple sitemaps

.wsp-container {
    .wsp-pages {
        &-title {
            display: none;
        }

        &-list {
            columns: 2;
            column-gap: 10.0rem;

            @include g.mq(sp) {
                columns: initial;
            }

            > li {
                break-inside: avoid;
                margin-bottom: 4.0rem;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            position: relative;
            padding-left: 1.3rem;
            margin-top: 1.0rem;

            &::before {
                content: '';
                display: block;
                width: .5rem;
                height: 1.0rem;
                position: absolute;
                top: 1.0rem !important;
                left: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.998' height='10.58'%3E%3Cpath fill='none' stroke='%230e3157' d='M.353 10.227 5.291 5.29.354.353' data-name='パス 8243'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
}