@use '../../global' as g;

// Simple sitemaps

.wsp-container {
    .wsp-pages {
        &-title {
            display: none;
        }

        &-list {
            columns: 2;
            column-gap: g.rem(100);

            @include g.mq(sp) {
                columns: initial;
            }

            > li {
                break-inside: avoid;
                margin-bottom: g.rem(40);
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            position: relative;
            padding-left: g.rem(13);
            margin-top: g.rem(10);

            &::before {
                content: '';
                display: block;
                width: g.rem(5);
                height: g.rem(10);
                position: absolute;
                top: g.rem(10) !important;
                left: 0;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.998' height='10.58'%3E%3Cpath fill='none' stroke='%230e3157' d='M.353 10.227 5.291 5.29.354.353' data-name='パス 8243'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
}