@use '../global' as g;

// コンテンツエリアのレイアウト上書き

.l-contents {

    // コンテナの横余白を上書き
    &__container {
        padding: var(--headerHeight) var(--root--gap) 0;
    }

    // grid化
    &__inner {
        display: grid !important;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        [data-has-sidebar="true"] & {
            grid-template-columns: 1fr g.rem(336);
            gap: g.rem(40);
            @include g.mq(tab) {
                grid-template-columns: 1fr 30%;
            }
            @include g.mq(sp) {
                grid-template-columns: 1fr;
            }
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }

    &__header {
        background-color: #f5f5f5;
        padding-block: g.rem(38);
        margin-top: var(--headerHeight);
    }

    &__body {
        padding-bottom: g.rem(50);

        .home & {
            margin-top: var(--headerHeight);
        }
        .tmg-eyecatch + & {
            margin-top: g.rem(41);
        }
    }
}

